<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Sistema</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Meu Sistema</h1>
    </header>
    {% block navbar %}
       {% include 'angeline/nav.html' %}
    {% endblock %}

    <main>
        {% block content %}
        <!-- O conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </main>


    <footer>
        <p>Copyright © 2023</p>
    </footer>
</body>
</html>