
{% block content %}
<body>
    <h1>Informações de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Nome do Fornecedor</th>
                <th>Nome da Categoria</th>
                <th>Nome do Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for produto_id, info in supermercado.items %}
                <tr>
                    <td>{{ info.nome_produto }}</td>
                    <td>{{ info.nome_fornecedor }}</td>
                    <td>{{ info.nome_categoria }}</td>
                    <td>{{ info.nome_saldo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}